#primery {
  display: flex;
}

#menu {
  display: flex;
  align-items: center;
  padding-block: 1.625rem;
  gap: .5rem;
}

#logo{
  margin: 1.25rem auto 1.25rem;
  padding: .25rem;
}
#logo img {
  height: 1.5rem;
  width: 10rem;
  object-fit: cover
}

#busca {
  display: flex;
  align-items: center;
  padding-block: 1.5rem;
  gap: .5rem;
}
#busca img {
  height: 1.25rem;
  width: 1.25rem;
}

#secondary {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-block: .875rem;
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
}